

.ContactCard{
    margin-left: 13%;
}
.AddContact{
    margin-left: 37%;
}

.hover {
    background-color: white;
    color: black;
    transition: transform 0.3s; 
}

.hover:hover {
    background-color: yellow;
    color: black;
  
}

.Titular1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Titular2{
  padding-top: 140px;

}
.contactoHover:hover{
    background-color: white;
    color: yellow;
}

