/* 
    General Styles
*/
.fotoperfil{
    margin-left: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.ContactCard{
    margin-left: 13%;
}
.AddContact{
    margin-left: 37%;
}

.hover {
    background-color: white;
    color: black;
    transition: transform 0.3s; 
}

.hover:hover {
    background-color: yellow;
    color: black;
  
}
